<div class="editing-event">
<h1>Editing event</h1>

<%= render 'form' %>

<div class="show-buttons">
<button id="edit-show-back"><%= link_to 'Show', @event %></button>
<button id="edit-show-back"><%= link_to 'Back', events_path %></button>
</div>