/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

img {
  width: 100px;
  height: 100px;
  border: 1px solid #6B1229;
}

 .homelogo{
  color: #afeeee;
  font-size: 60px;
 }

 @font-face {
  font-family: faith;
  src: url(fonts/KGFaithHopeAndLove.ttf)
 }


 .title a{
  color: white;
 }

.event a{
  color: #00008b;
}


.titlelogo{
  padding-left: 45%;
  font-size: 100px;

}

 .etable p {
  font-size: 25px;

 }

 .etable h3 {
  font-size: 25px;

 }

 .etable a {
  font-size: 25px;
  text-decoration: none;

 }

 html,body {
  height: 100%;
 }
 #map-canvas 
 { 
   height: 350px;
   width: 80%;
 }

 #autocomplete { height: 25px; width: 80%;

 }


.eventtable td {
  border: solid;
  max-width: 100%;
  border-color:;
  border-width: 20%;
  font-size: 25px;

}

.usertable td {
  border: solid;
  max-width: 80%;
  border-color:;
  border-width: 50%;
  font-size: 25px;
}


.events h2 {
  color: #afeeee;
}

.events h1{
  color: #afeeee;
}

.events{
  max-width: 100%;
  padding-top: 100px;
  text-align: center;
  /*border-bottom: solid;*/
  padding-bottom: 100px;
  background-color: white;
 /* color: #FFA300;*/
  font-family: arial;
}

.events a {
  font-size: 35px;
  font-color: white;
  text-decoration: none;
  color: #00008b;
}

.title{
  max-width: 100%;
  padding-top: 100px;
  text-align: center;
  padding-bottom: 100px;
  background-color: #afeeee;
  font-family: faith;

}

/*.title h1{
  font-family: faith;
  color: #777;
  text-align: center;

}*/

.title a{
  font-size: 35px;
  text-decoration: none;
  font-family: faith;
  font-style: italic;

}

.title h1{
color: #00008b;
font-family: faith;
}

.title h2{
  color: #00008b;
  font-size: 30px;
}

.logo{
  font-size: 45px;
  color:#FFA300;
  /*font-family: faith;*/
  text-align: center;
  padding-top: 20px;
  list-style-type: none;
}


.nav{
 /*position: fixed;*/
   top: 0;
   left: 0;
   right: 0;
   z-index: 9999;
   width: 100%;
   height: 50px;
   background-color: #00008b;
   vertical-align: baseline;
   clear: both;
   padding-top: 40px;
}

.nav li{
  display: inline;
  font-size: 40px;
  font-family: sans-serif;
  padding-left: 15px
}

.nav a {
  text-decoration: none;
  text-align: right;
  float: center;  
  font-family: sans-serif;
  color: #afeeee;
  }

.login{
  font-size: 40px;
  /*padding-left: 10px*/
  float:right;
  padding-bottom: 20px
}

/*.login a{
  font-size: 40px;
  padding-left: 10px
  float:right;
  padding-bottom: 20px*/


}

.login b{
  color: #afeeee;
  padding-right: 20px;
}


.body{
  border: black;
}

.username{
  height: 100px;
  background-color:#20bc7e;
  width: 100%; 
  padding-top: 50px;
  text-align: center;
}

.house{
  height: 100px;
  background-color:white;
  width: 100%; 
  padding-top: 50px;
  text-align: center;
}

.email{
  height: 100px;
  background-color:#20bc7e;
  width: 100%; 
  padding-top: 50px;
  text-align: center;
}

.password{
  height: 100px;
  background-color:white;
  width: 100%; 
  padding-top: 50px;
  text-align: center;
}

.school{
  height: 100px;
  background-color:#20bc7e;
  width: 100%; 
  padding-top: 50px;
  text-align: center;
}

.location{}

footer{
  color: #00008b;
  max-width: 100%;
  height: 80px;
  text-align: center;
  padding-top: 55px;
  font-size: 25px;

  }

.userprofile {
  font-family: sans-serif;
}

.activity {
  border-bottom: solid 1px #ccc;
  padding: 16px 0;
  em{
    color: #777;
    font-size: 12px;
    padding-left: 5px;
  }
}