#new-event{
  display: block;
  margin: 20px auto;
  width: 150px;
  height: 35px;
  border-bottom: 5px solid rgba(192, 57, 43,1.0);
  background: white;
  border: none;
  border-radius: 5px;
  color: #0C9BE8;
  font-size: .75em;
  font-weight: 100;
  transition: all ease-in-out .2s;

  &:hover {
    background: rgba(192, 57, 43,1.0); 
  }

  a {
    text-decoration: none;
  }
}


.createbutton{
  
}

#heading{
  font-family: faith;
}

#map-canvas {
  width: 100%;
  height: 500px;
}

#eventtable {
  border: solid;
  border-color: white;
  text-align: center;
  padding: 0 10px;
  margin-top: 5%;
  // background:  rgba(231, 76, 60,1.0);
  tr {
    padding: 0 80px;

    &:hover {
      background-color: white;
    }
    th {
      padding: 0 40px;  
    }
    td {
      padding: 0 10px;
      a {
        text-decoration: none;
      }
    }

    &:first-child{
      background: white;
    }
  }
}

#eventbutton {
  display: block;
  margin: 20px auto;
  width: 60px;
  height: 35px;
  border-bottom: 5px solid rgba(192, 57, 43,1.0);
  background: #FFF50D;
  border: none;
  border-radius: 5px;
  color: rgba(255,255,255,1);
  font-size: .75em;
  font-weight: 100;
  transition: all ease-in-out .2s;

  &:hover {
    background: rgba(192, 57, 43,1.0); 
  }
}

.newevent{
  text-align: center;
  display: block;
  padding-bottom: 15px;
  font-size: 25px;
}

.field {
  width: 350px;
  margin: 0 auto;
  padding-top: 30px;
  padding-bottom: 50px;

  input {

    &[type="text"], &[type="password"] {
      width: 300px;
      padding: 10px 0px;
      background: transparent;
      border: 0;
      border-bottom: 1px solid #435160;
      outline: none;
      color: #6D7781;
      font-size: 16px;
    }

    &[type=checkbox] {
      display: none;
    }

    .commit{
      background-color: green;
    }

  }
}

#newheading {
  font-family: faith;
  padding-right: 40px;
}

#eventbackbutton {
  font-family: faith;
  display: block;
  margin: auto;
  width: 60px;
  height: 35px;
  border-bottom: 5px solid rgba(192, 57, 43,1.0);
  background: #FFF50D;
  border: none;
  border-radius: 5px;
  color: rgba(255,255,255,1);
  font-size: .75em;
  font-weight: 100;
  transition: all ease-in-out .2s;

  &:hover {
    background: rgba(192, 57, 43,1.0);
  }

  a{
    text-decoration: none;

  }


}

