#attend{
  font-family: faith;
  display: block;
  margin: auto;
  width:150px;
  height: 35px;
  border-bottom: 5px solid rgba(192, 57, 43,1.0);
  background: white;
  border: none;
  border-radius: 5px;
  color: rgba(255,255,255,1);
  font-size: .75em;
  font-weight: 100;
  transition: all ease-in-out .2s;
  &:hover {
    background: rgba(192, 57, 43,1.0);
  }
  a{
    text-decoration: none;
  }
}


#eventname{
  font-family: faith;
}


.showevent {
  text-align: center;
  border: solid;
  border-color: white;
  max-height: 100%;

  width: 350px;
  margin: 0 auto;
  padding-top: 30px;
  padding-bottom: 25px;

  p{
    font-weight: bold;
    color: red;
    font-size: 25px;
  }

  &:hover {
    background-color: white;
  }

  input {

    &[type="text"], &[type="password"] {
      width: 300px;
      padding: 10px 0px;
      background: transparent;
      border: 0;
      border-bottom: 1px solid #435160;
      outline: none;
      color: #6D7781;
      font-size: 16px;
    }

    &[type=checkbox] {
      display: none; 
    } 
  }
}

.map {
  max-width: 100%;
  text-align: center;
  border: solid;
  border-color: white;
  max-height: 100%;

  width: 600px;
  margin: 0 auto;
  padding-top: 30px;
  padding-bottom: 50px;

  p {
    color: red;
    font-weight: bold;
    font-size: 25px;
  }

  &:hover {
    background-color: white;
  }

  input {

    &[type="text"], &[type="password"] {
      width: 300px;
      padding: 10px 0px;
      background: transparent;
      border: 0;
      border-bottom: 1px solid #435160;
      outline: none;
      color: #6D7781;
      font-size: 16px;
    }

    &[type=checkbox] {
      display: none;
    }
  }

}

.people-attending {
  max-width: 100%;
  text-align: center;
  border: solid;
  border-color: white;
  max-height: 100%;

  width: 600px;
  margin: 0 auto;
  padding-top: 30px;
  padding-bottom: 50px;

  #attendee{
    font-family: faith;
    display: block;
    margin: auto;
    width:150px;
    height: 35px;
    border-bottom: 5px solid rgba(192, 57, 43,1.0);
    background: white;
    border: none;
    border-radius: 5px;
    color: rgba(255,255,255,1);
    font-size: .75em;
    font-weight: 100;
    transition: all ease-in-out .2s;
    &:hover {
      background: rgba(192, 57, 43,1.0);
    }
    a{
      text-decoration: none;
    }
  }  
  p {
    color: red;
    font-weight: bold;
    font-size: 25px;
  }
  &:hover {
    background-color: white;
  }
}

.nearby-events {
  max-width: 100%;
  text-align: center;
  border: solid;
  border-color: white;
  max-height: 100%;
  width: 600px;
  margin: 0 auto;
  padding-top: 30px;
  padding-bottom: 50px;
  p {
    color: red;
    font-weight: bold;
    font-size: 25px;
  }
  &:hover {
    background-color: white;
  }
}


#nearby-events{
  font-family: faith;
    // display: block;
    margin: auto;
    
    height: 25px;
    border-bottom: 5px solid rgba(192, 57, 43,1.0);
    background: white;
    border: none;
    border-radius: 5px;
    color: rgba(255,255,255,1);
    font-size: .75em;
    font-weight: 100;
    transition: all ease-in-out .2s;
    &:hover {
      background: rgba(192, 57, 43,1.0);
    }
    a{
      text-decoration: none;
    }
  }


  .edit-back{
    padding-left: 330px
  }

  #event-edit-back{
    font-family: faith;
    // display: block;
    margin: auto;
    width: 150px;
    height: 25px;
    border-bottom: 5px solid rgba(192, 57, 43,1.0);
    background: white;
    border: none;
    border-radius: 5px;
    color: rgba(255,255,255,1);
    font-size: .75em;
    font-weight: 100;
    transition: all ease-in-out .2s;
    &:hover {
      background: rgba(192, 57, 43,1.0);
    }
    a{
      text-decoration: none;
    }

  }

  .show-buttons{

  }

  .editing-event{
    h1{
      font-family: 'Source Sans Pro', sans-serif;
    }

    #edit-show-back {
      font-family: faith;
      margin: auto;
      width:150px;
      height: 35px;
      border-bottom: 5px solid rgba(192, 57, 43,1.0);
      background: white;
      border: none;
      border-radius: 5px;
      color: #0C9BE8;
      font-size: .75em;
      font-weight: 100;
      transition: all ease-in-out .2s;
      &:hover {
        background: rgba(192, 57, 43,1.0);
      }
      a {
        text-decoration: none;
      }
    }
  }


  .field {

    input {
      font-family: faith;
      margin: 5% 20%;
      margin: auto;
      width:150px;
      height: 35px;
      border-bottom: 5px solid rgba(192, 57, 43,1.0);
      background: white;
      border: none;
      border-radius: 5px;
      color: #0C9BE8;
      font-size: .75em;
      font-weight: 100;
      transition: all ease-in-out .2s;
      &:hover {
        background: rgba(192, 57, 43,1.0);
      }
      a {
        text-decoration: none;
      }

    }
  }












