section{

  &.welcome{
    text-align: center;
    padding: 50px;
  }

  &#introduction{
    background-color: blue;
  }

  &#introduction-mission{
    background-color: white;
  }

  &#introduction-events{
    background-color: blue;
  }

}